body {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $text-color;
}

p {
  font-size: 18px;
  line-height: 28px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
h1 {
  font-family: $font-family-serif;
  font-size: 4rem;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2.section-header {
  text-align: center;
}

@media screen and (max-width: $screen-md-max) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: $screen-sm-max) {
  h3 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: $screen-xs-max) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

a {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

.attribution {
  font-style: italic;
  font-size: 0.9em;
  opacity: 0.9;
}