---
title: Admin – ZoukHH.de
intro: Hier wird administriert
---

section.courses
  .container
    .row
      h1 Admin

javascript:
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }